<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="de.jcup.egradle.launchConfigurationType">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/circuitsMod/src/main/java/com/circuits/circuitsmod/Config.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="projectName" value="circuitsMod"/>
<stringAttribute key="tasks" value="assemble"/>
</launchConfiguration>
