# logs
logs
# run
run

#other stuff
usernamecache.json
usercache.json
options.txt
gradlew.bat
gradlew
gradle
config
build.gradle

#saves
saves/*

#screenshots
screenshots/*

# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# logs
*.log

# crash reports
crash-reports

# gradle
build
.gradle

# other
eclipse
#run
