# logs
logs
# run
run

#other stuff
usernamecache.json
usercache.json
options.txt
gradlew.bat
gradlew
gradle
config
build.gradle

# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
#run
